{varType SkadminUtils\EventCalendar\Model\EventCalendarEvent $event}

<div class="event-calendar-row" n:snippet="snipEventCalendarNav">
    <div class="event-calendar-col-prev">
        <a n:href="prevMonth!" class="ajax event-calendar-btn-prev-month">
            <i></i>
            <span>{_'event-calendar.prev-month'}</span>
        </a>
    </div>
    <div class="event-calendar-col-next">
        <a n:href="nextMonth!" class="ajax event-calendar-btn-next-month">
            <i></i>
            <span>{_'event-calendar.next-month'}</span>
        </a>
    </div>
</div>

<div class="event-calendar-row" n:snippet="snipEventCalendar">
    <div class="event-calendar-col-month">
        {_('event-calendar.' . $monthText|lower)} {$year}
    </div>

    <div class="event-calendar-col">
        <div class="event-calendar-responsive">
            <table class="event-calendar event-calendar-month">
                <thead>
                <tr>
                    <th>{_'event-calendar.mon'}</th>
                    <th>{_'event-calendar.tue'}</th>
                    <th>{_'event-calendar.wed'}</th>
                    <th>{_'event-calendar.thu'}</th>
                    <th>{_'event-calendar.fri'}</th>
                    <th>{_'event-calendar.sat'}</th>
                    <th>{_'event-calendar.sun'}</th>
                </tr>
                </thead>

                <tbody>
                <tr n:foreach="$daysOfCalendar as $week" n:inner-foreach="$week as $dayIndex => $day">
                    <td n:class="isset($day['class']) ? $day['class']" data-toggle="collapse" data-target=".d{$dayIndex}" aria-expanded="true">
                        <div class="event-calendar-day">{$day['day']}</div>
                        {include #eventsBadge index => $dayIndex}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{snippet snipEvents}
    <div class="event-calendar-row" id="event-calendar-events">
        <div class="event-calendar-col collapse d{$eventIndex}" data-parent="#event-calendar-events" n:foreach="$events as $eventIndex => $eventsOverview">

            <h3 class="event-calendar-day-title">{Nette\Utils\DateTime::createFromFormat('Ymd', (string) $eventIndex)|date:'d.m.Y'}</h3>

            <div class="event-calendar-row">
                <div class="event-calendar-col event-calendar-event" n:foreach="$eventsOverview as $event">
                    <a href="{$event->getLink()}" target="_blank" n:tag-if="$event->getLink()">
                        <h5 class="event-calendar-event-title">{$event->getTitle()}</h5>
                    </a>
                    <div class="event-calendar-event-term">{$event->getDateFrom()|date:'d.m.Y H:i'} - {$event->getDateTo()|date:'d.m.Y H:i'}</div>
                    {if $event->getContent()}
                        {$event->getContent()|noescape}
                    {/if}
                    <a href="{$event->getLink()}" n:if="$event->getLink()" class="mt-3 small" target="_blank">zjisti více...</a>
                </div>
            </div>
        </div>
    </div>
{/snippet}

{define #eventsBadge}
    {ifset $events[$index]}
        {foreach $events[$index] as $event}
            {if $event->getColorBadge()}
                {var $style = sprintf('background-color: %s !important; color: %s !important;', $event->getColorBadge(), $event->getColorBadgeText())}
            {/}
            <span class="event-calendar-badge" style="{isset($style) ? $style|noescape}">{$event->getShortTitle()}</span>
        {/}
    {/ifset}
{/define}