.event-calendar {

  &-off {
    color: #ced4da;
  }

  &-day {
    margin-bottom: 0.25rem !important;

    &-title {
      margin-top: 0.5rem !important;
    }
  }

  &-badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    background-color: rgb(0, 123, 255);
    color: #fff;

    font-weight: normal;
    font-size: 10px;
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  &-col {
    flex: 0 0 100%;
    max-width: 100%;

    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    &-month {
      flex: 0 0 100%;
      max-width: 100%;

      padding-bottom: 0.5rem !important;
      padding-top: 0.25rem !important;
      text-align: center !important;
      font-size: 22px;
    }

    &-prev {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;

      flex: 0 0 50%;
      max-width: 50%;

      span {
        display: none;
      }

      i {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 2em;

        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;

        margin-left: 1rem !important;

        &:before {
          content: "\f053";
        }
      }
    }

    &-next {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;

      flex: 0 0 50%;
      max-width: 50%;
      text-align: right !important;

      span {
        display: none;
      }

      i {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 2em;

        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;

        margin-right: 1rem !important;

        &:before {
          content: "\f054";
        }
      }
    }
  }

  &-event {

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(0, 123, 255, 0.2);
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    &-title {
      margin-top: 0.5rem !important;

      color: rgba(0, 123, 255, 0.75);
    }

    &-term {
      font-size: 75%;
      color: rgba(0, 123, 255, 0.5);
    }
  }

  &-month {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;

    tr {

      th, td {
        padding: 0.5rem !important;

        background: white;
        border: 1px solid rgba(0, 123, 255, 0.2);
      }
    }

    thead {

      tr {

        th {
          color: rgb(0, 123, 255) !important;
          text-align: center !important;
          vertical-align: middle !important;
        }
      }
    }

    tbody {

      tr {

        td {
          height: 100px;
          line-height: 15px;
          vertical-align: top;
        }
      }
    }
  }

  &-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}