.event-calendar-off {
    color: #ced4da;
}
.event-calendar-day {
    margin-bottom: 0.25rem !important;
}
.event-calendar-day-title {
    margin-top: 0.5rem !important;
}
.event-calendar-badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #007bff;
    color: #fff;
    font-weight: normal;
    font-size: 10px;
}
.event-calendar-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.event-calendar-col {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.event-calendar-col-month {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 0.5rem !important;
    padding-top: 0.25rem !important;
    text-align: center !important;
    font-size: 22px;
}
.event-calendar-col-prev {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%;
}
.event-calendar-col-prev span {
    display: none;
}
.event-calendar-col-prev i {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 2em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-left: 1rem !important;
}
.event-calendar-col-prev i:before {
    content: "\f053";
}
.event-calendar-col-next {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%;
    text-align: right !important;
}
.event-calendar-col-next span {
    display: none;
}
.event-calendar-col-next i {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 2em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right: 1rem !important;
}
.event-calendar-col-next i:before {
    content: "\f054";
}
.event-calendar-event:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 123, 255, 0.2);
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.event-calendar-event-title {
    margin-top: 0.5rem !important;
    color: rgba(0, 123, 255, 0.75);
}
.event-calendar-event-term {
    font-size: 75%;
    color: rgba(0, 123, 255, 0.5);
}
.event-calendar-month {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.event-calendar-month tr th, .event-calendar-month tr td {
    padding: 0.5rem !important;
    background: white;
    border: 1px solid rgba(0, 123, 255, 0.2);
}
.event-calendar-month thead tr th {
    color: #007bff !important;
    text-align: center !important;
    vertical-align: middle !important;
}
.event-calendar-month tbody tr td {
    height: 100px;
    line-height: 15px;
    vertical-align: top;
}
.event-calendar-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
 